*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: italic;
}

                    /* TOP BAR */

header{
    text-align: left;
    color: white;
    
    background-color: rgb(84, 125, 195);
    padding: 35px;
}

.title{
font-size: 30px;
}

header span{
    font-size: 25px;
    padding-right: 40px;
}

a{
    text-decoration: none;
    color: white;
}

                        /* CENTRAL PART */
.number{
    color: rgb(84, 125, 195);
    padding: 0px;
}
.fitness{
    font-size: 50px;
    margin: 15px;
    color: rgb(84, 125, 195);
}
p{
    font-size: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
}
.member{
    font-size: 20px;
    border-radius: 15px;
    width: 230px;
    align-self: left;
    padding: 20px;
    margin-left: 40px;
    text-align: center;
    border: solid 3px orange;
    color: orange;
}

.social{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.insta{
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    background-color: blueviolet;
    margin-right: 40px;
    margin-left: 40px;
    border: 1px black;
    border-radius: 20px;
    box-shadow: 5px 5px #f6eaeaf0;
}
.face{
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 40px;
    text-align: center;
    background-color: blue;
    border: 1px black;
    border-radius: 20px;
    box-shadow: 5px 5px #f6eaeaf0;
}
.youtube{
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    background-color: red;
    border: 1px black;
    border-radius: 20px;
    box-shadow: 5px 5px #f6eaeaf0;
}
.testimonials{
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 15px;
    color: rgb(84, 125, 195);
}

                        /* BOTTOM */

footer{
    
    color: white;
    background-color: rgb(84, 125, 195);
    font-size: 20px;
    padding-bottom: 50px;
   
}
h2{
    font-size: 30px;
    padding-left: 28px;
    padding-top: 28px;
    
}
.list{
    padding-left: 28px;
    padding-top: 15px;
    
}
ul{
    list-style: none;
    background-color: rgb(84, 125, 195);
}
.gyms{
    padding-left: 30px;
}

                     /* ABOUT US  */

.locations{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 100px;
}
.london{
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    background-color: rgb(84, 125, 195);
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    border: 1px black;
    border-radius: 20px;
    box-shadow: 5px 5px #f6eaeaf0;
}
.cardif{
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 40px;
    text-align: center;
    background-color: rgb(84, 125, 195);
    border: 1px black;
    border-radius: 20px;
    box-shadow: 5px 5px #f6eaeaf0;
}
.glasgow{
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    background-color: rgb(84, 125, 195);
    border: 1px black;
    border-radius: 20px;
    box-shadow: 5px 5px #f6eaeaf0;
}

